# .npmrc - dev-toolkit Angular (global para todos os projetos)
registry=https://registry.npmjs.org/
strict-ssl=true
fund=false
audit-level=moderate
node-linker=hoisted
lockfile=true
package-import-method=hardlink
